@import "../style.scss";

@import "../Cards/style.module.scss";

.container_slider {
  height: 600px;
  margin: 4%;
  align-items: center;
  justify-content: center;
  display: flex;
  
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.slide {

  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}

.active-anim {
  opacity: 1;
}


button {

  background-color: $normal-purple-color;
  border-radius: 50px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: $dark-purple-color;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family;
  padding: 0.011% 8%;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  user-select: none;
  touch-action: manipulation;
  font-size: $font-size-md;
  &:hover {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    z-index: 1;
    font-size: 108%;
  }
}

.container_dots {

  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: .125rem 0;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
  content: "";
  background-color: #d8d8d8;
  border-radius: 50%;
  transition: background-color .3s ease 0s;

}


