.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

input{
  margin: 0.8em 0;
  height: 40px;
  padding-left: 1em;
  border: solid 2px rgb(111, 0, 255);
  border-radius: 1em;
  background-color: rgb(245, 245, 245);

  &:focus {
      border: 2px solid #713bc1;
      outline: none;
  }

  &:hover {
      background-color: rgb(210, 208, 208);
  }
}
