
@import "../style.scss";

.header {
    width: 100%;
    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    color: $dark-purple-color;
    padding: 0 15px;
    background-color: rgb(245, 245, 245);
}

.header_container {
    padding: 0.5em 6em;
    
    
    z-index: 10;
    background-color: rgb(245, 245, 245);
    position: fixed;
    
  }

.header_wrapp {
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid $dark-orange-color;
}

.header_section{
    flex-basis: 350px;
    flex-grow: 1;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100px;
    border: 1px solid $normal-purple-color;
    border-radius: 4px;
    color: $dark-orange-color;
}
