@import "../../style.scss";
@import "../Cards/style.module.scss";

.container_wrap {
  height: 600px;
  margin: 1%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: $dark-purple-color;
}

.container_slider {
  min-width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  
}
  button {
  display: flex;
  
  align-items: center;
  background-color: $normal-purple-color;
  border-radius: 50px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: $dark-purple-color;
  cursor: pointer;
  font-family: $font-family;
  padding: 0.011% 3%;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  user-select: none;
  touch-action: manipulation;
  font-size: $font-size-md;

  &:hover {
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    z-index: 1;
    font-size: 108%;
  }
}
