  .App {
    display: grid; /* applies grid layout affecting it's children */
    grid-template-columns: 240px 1fr; /* define the number and sizes of columns */
    grid-template-rows: 50px 1fr 50px; /* defines the number ans sizes of rows*/
    grid-template-areas:
      'header header'
      'main main'
      'footer footer'; /* assigns the labeled grid-area to the grid layout, note there has to be two columns and three rows as per the grid template rows/ columns defined */
    height: 100vh;
  }

  header {
    grid-area: header; /* assigns the grid-area label*/
    background-color: whitesmoke;
  }

    main {
    grid-area: main;
    background-color: white;
  }
  footer {
    grid-area: footer;
    background-color: whitesmoke;
  }