.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 1fr 5%;
  grid-template-areas:
    'header header'
    'main main'
    'footer footer';
  height: 100%;
  width: 100%;

  header {
    grid-area: header;
    
  }
  
  main {
    grid-area: main;
    background-color: rgb(255, 255, 255);
   
  }
  
  footer {
    grid-area: footer;
    background-color: rgb(245, 245, 245);
  }

  ul {
    display: inline-flex;
    align-items: flex-end;
  }
  li {
    list-style: none;
    margin-left: 5%;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    justify-items: space-between;
  }
  
}

