.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr 5%;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100%;
  width: 100%;
  header {
    grid-area: header;
    top: 0;
    z-index: 10;
    background-color: rgb(245, 245, 245);
    position: sticky;
  }

  main {
    grid-area: main;
    background-color: rgb(255, 255, 255);
  }

  footer {
    grid-area: footer;
    background-color: rgb(245, 245, 245);
  }

  nav {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    ul {
      display: inline-flex;
      align-items: center;
      li {
        list-style: none;
        margin-left: 5%;
        a.activ {
          border: 1px solid hsl(300, 27%, 22%);
        }
      }
    }
  }
}
